

<!DOCTYPE html>
<html xmlns="//www.w3.org/1999/xhtml" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>PlayList - AngularJS</title>
        <link rel="stylesheet" href="assets/css/style.css">

    </head>


    <body>

        
        <div id="galerie" ng-app="galerie">

            <div ng-controller="imagesList">

                <div id="bigImage" ng-class="{showB : currentImage && errorConnection}"><img ng-src="{{currentImage}}" /></div>
                <div id="errorMsg" ng-class="{hide : ! errorConnection}">Il y a un problème de connexion</div>

                <ul>

                    <li ng-repeat="img in images"><a href="#" ng-click="selectImage($event, $index)"><img ng-src="{{imgPathThb}}{{img.src}}" /></a></li>

                </ul>

            </div>

        </div>


        <!-- Appel des scripts -->
        <script type="text/javascript" src="assets/js/angularjs.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
    </body>
</html>
