* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6em;
    font-family: sans-serif;
    background: #eee;
    color: #333;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1 {
    text-align: center;
    margin: 20px auto;
    font: bold 70px / 1.5 'MedievalSharp', cursive;
}

#openGalerie,
#startGame {
    margin: 2%;
    width: 6%;
    line-height: 30px;
}

#openGalerie,
#startGame {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 250px;
    height: 50px;
    margin: 50px 20px 50px 0;
    background: #ccc;
    border-radius: 5px;
    color: #000;
    font-size: 1.1em;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#startGame:hover {
    background: #bbb;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

#openGalerie:hover {
    box-shadow: inset 0 0 10px 0 #212121;
    text-decoration: none;
}

#conteneurVignettes,
#memory {
    width: 880px;
    height: 880px;
    margin: 3% auto;
    background: #333;
    display: none;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

#memory #loader {
    background: #333;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 880px;
    margin: auto;
    text-align: center;
}

#memory a {
    display: block;
    float: left;
    width: 170px;
    height: 170px;
    margin: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,.4);
    transition: all 0.2s;
}

#memory a.hide:focus,
#memory a.hide:hover {
    box-shadow: 0 0 10px rgba(255,255,255,.8);
}

#memory a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 10px;
    background:url('../img/bg-card.jpg') repeat 0 0 transparent;
    transition: all 0.5s;
    transform: rotateY(90deg);
}

#memory a.hide:before {
    transform: rotateY(0deg);
}

#memory a.founded {
    box-shadow: 0 0 10px 2px rgba(0,218,18,.8);
}
#memory a.wrong {
    box-shadow: 0 0 10px 5px rgba(255,0,0,.8);
}

#memory a img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div#back {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 1;
    display: none;
}

div#back span {
    color: white;
    font-size: 100px;
    display: block;
    text-align: center;
    line-height: 100vh;
    vertical-align: middle;
}

.clock {
    text-align: center;
}

#clock {
    position: relative;
    z-index: 2;
    width: 150px;
    text-align: center;
    background: rgba(0,0,0,.6);
    font-size: 25px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 10px 0;
    margin: auto;
    color: white;
    display: none;
}
